@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Benzin";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Benzin/Benzin-Bold.eot");
  src: url("../fonts/Benzin/Benzin-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Benzin/Benzin-Bold.woff") format("woff"), url("../fonts/Benzin/Benzin-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #F8F8FB;
  color: #272E46; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1px 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
    border-bottom: 2px solid #EBEBEB;
    border-radius: 0;
  width: 100%;
  font-family: "Manrope", sans-serif;
  background: transparent;
  font-size: 10px;
  font-weight: 500;
  color: rgba(130, 134, 154, 0.5); }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #000000; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #000000; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #000000; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #000000; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.input-title {
  display: block;
  width: 100%;
  margin: 0 0 5px;
  color: #82869A;
  font-size: 9px;
  line-height: 110%;
  font-weight: 500; }

label {
  display: block;
  width: 100%;
  position: relative;
  font-family: "Manrope", sans-serif;
  margin: 0 0 36px; }

.label-checked .input-title {
  color: #82869A;
  font-weight: 600; }

.label-checked input {
  color: #000000;
  font-weight: 600;
  border-bottom-color: #2DD348; }

.label-checked:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 13px;
  background: url("../img/check.svg") no-repeat center;
    background-size: 100%;
  width: 12px;
  height: 9px; }

.form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 42px; }

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(130, 134, 154, 0.8);
  font-size: 8px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.inp-radio {
  display: none; }
  .inp-radio:checked ~ .radio-custom:before {
    background: #40CB46; }

.radio-custom {
  position: relative;
  margin: 0 9px 0 0;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background: #EBEBEB;
  border: 0.76617px solid #D8D8D8;
    border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .radio-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 16px;
  border-radius: 9px;
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 600; }

.btn-accent {
  color: #fff;
  background: #40CB46;
  text-shadow: 0 0.91358px 1.82716px rgba(0, 0, 0, 0.15);
  -webkit-filter: drop-shadow(0px 9.1358px 18.2716px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 9.1358px 18.2716px rgba(0, 0, 0, 0.15)); }
  .btn-accent:hover {
    background: #272E46;
    color: #fff; }

.btn-dark-blue {
  background: #3C3D8C;
  border-radius: 5px;
  color: #fff;
  padding: 0 15px;
  height: 26px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  font-family: "Inter", sans-serif; }
  .btn-dark-blue .btn-icon {
    width: 38px;
    height: 8px;
    margin-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .btn-dark-blue:hover {
    background: #7CD54C;
    color: #fff; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.container {
  max-width: 1180px;
  padding: 0 10px; }

.row {
  margin: 0 -10px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 10px; }

h1 {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #707A96), color-stop(75.01%, #68718B), color-stop(202.86%, #E8EBF4), color-stop(202.86%, #727B97));
  background: linear-gradient(180deg, #707A96 75%, #68718B 75.01%, #E8EBF4 202.86%, #727B97 202.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: relative;
  z-index: 1;
  font-size: 50px;
  line-height: 55px;
  font-family: "Benzin", sans-serif;
  max-width: 696px; }
  h1 .title-text {
    position: absolute;
    z-index: 1;
    top: -4px;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(41.29deg, #BEC2CC 26.41%, #E8EBF4 75.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; }

h2 {
  font-family: "Benzin", sans-serif;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 0.03em;
  font-size: 40px;
  margin: 0 0 20px; }

.color-blue {
  color: rgba(26, 163, 224, 0.8); }

.links-grey {
  color: #82869A; }
  .links-grey:hover {
    color: #40CB46; }

.d-inline {
  display: inline; }

.list-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 150%; }
  .list-decor li {
    width: 50%;
    position: relative;
    padding: 0 0 0 47px;
    margin: 0 0 40px; }
    .list-decor li p {
      max-width: 552px; }
    .list-decor li:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 5px;
      background: url("../img/decor-list.svg") no-repeat center;
        background-size: 100%; }

.box-text {
  font-size: 24px;
  line-height: 150%;
  margin: 0 0 60px; }

.text {
  line-height: 150%; }
  .text p {
    margin: 0 0 20px; }
    .text p:last-child {
      margin: 0; }

.slick-arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31px;
  height: 31px;
  border: 2px solid #ABB2C7;
    border-radius: 10px;
  background: #fff;
  opacity: 1;
  z-index: 1;
  outline: none; }

.slick-next {
  margin-left: 15px; }

.strategy-slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 60px;
  padding-left: 25px; }

.nav-pagination {
  width: 100%; }

.nav-pagination-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 0 4px; }
  .nav-pagination-arrows__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 28px;
    height: 28px;
    min-width: 28px;
    border: 1px solid #FFFFFF;
      border-radius: 5px; }
    .nav-pagination-arrows__item:first-child {
      margin: 0 17px 0 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500; }
  .pagination .page-item {
    margin: 0 9px 0 0; }
    .pagination .page-item:last-child {
      margin: 0; }
    .pagination .page-item .page-link {
      background: transparent;
      color: rgba(255, 255, 255, 0.3);
      padding: 0;
      border: none;
        border-radius: 0;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      line-height: 20px; }
      .pagination .page-item .page-link:hover {
        color: #40CB46; }
    .pagination .page-item.active .page-link {
      background: transparent;
      color: #fff; }
